body,
html {
	width: 100%;
	height:100%;
}

body{
	font-family: montserrat',sans-serif;
}
hr{
	max-width: 65px;
	border-width: 3px;
	border-color: #f05f44;

}

.faded{
	color: rgba(255, 255, 255 ,0.8);
}



 .startup {
	background-position: center;
	background-image: url(image/ibina2.png);
	background-size: cover;
	height: 100%;
}

 .startup hr {
	margin-top: 200px;
	margin-bottom: 30px;
}
 .startup h1 {
	font-size: 2em;
}

.btn{
font-weight: 700;
text-transform: uppercase;
border-radius: 300px;
font-family:montserrat',sans-serif;
}

.btn{
	padding: 1rem 2rem;
}

.btn-danger{
	background-color: #f05f44;
}

.btn-primary:hover {
	background-color: #ee4b08;
	border-color: #ee4b08;
}

p{
	color: white;
}

legend{
	color: white;
}



footer{
	background:#f05f44;
	color: white;
	text-align: center;
	padding: 20px;
	font-family: Georgia,Times,sans-serif;
}

footer a{
	color: hotpink;
}


@include media-breakpoint-only(xs) { ... } @include media-breakpoint-only(sm) { ... } @include media-breakpoint-only(md) { ... } @include media-breakpoint-only(lg) { ... } @include media-breakpoint-only(xl) { ... }



$zindex-dropdown: 1000 !default; $zindex-sticky: 1020 !default; $zindex-fixed: 1030 !default; $zindex-modal-backdrop: 1040 !default; $zindex-modal: 1050 !default; $zindex-popover: 1060 !default; $zindex-tooltip: 1070 !default;
